.btn-group .btn{
	margin-right: 5px;
}

#todo-task-modal>.modal-dialog{
	right: 50%;
	margin: 0 -30%;
}

#chats>.scroller{
	height: 525px;
	overflow-y: visible;
	overflow-x: hidden;
}

#task-files>.form-horizontal{
	visibility: hidden;
	width: 1px;
	height: 1px;
}

#timer.todo-inline{
	background-color: #f7f9fa;
	color: #4e5a64;
	padding: 20px;
}

#task-files .todo-add-button{
	float: none;
}

.chats li .body{
	word-break: break-all;
}