/* === GRID SYSTEM === */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.fix-margin{
    margin: 100px auto 0 auto!important;
}
.no-padding-right{
    padding-right: 0!important;
}
#content p{
    line-height: 16px;
}

a,
a:hover,
a:focus,
.content-wrap {
    color: #000;
}

.button {
    background-color: #393939!important;
}
.map-wrap{
    position: relative;
}
.map-wrap .filters{
    background-color: #A7A8AA;
    left: 50%;
    padding: 30px;
    position: absolute;
    top: 450px;
    transform: translateX(-50%);
    width: 900px;
}
#map{
    height: 500px;
}

.company-wrap {
    margin-bottom: 25px;
}
.select2-container{
    width: 100%;
}
.select2-container .select2-selection--single {
    height: 34px;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #fff;
}

.top-p {
    color: #393939!important;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex>[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.item {
    margin-bottom: 15px;
    position: relative;
}

.item .details{
    background-color: #393939;
    bottom:0;
    color: #fff;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
}
.item .details p{
    margin: 0;
    text-transform: capitalize;
}
.item .details p.title{
    font-size: 18px;
    font-weight: bold;
}
.item .details p.address{
    display: inline-block;
    font-size: 12px;
}
.item img {
    height: 224px;
    object-fit: cover;
    width: 100%;
}
.item .rate-group{
    display: inline-block;
    float: right;
}
.item .rate-group .rate-yellow {
    color: #FFFF00;
}
.table.dataTable.no-footer{
    border-bottom: 0;
}
#sample_1_wrapper,
div.dataTables_wrapper div.dataTables_filter input{
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#sample_1_wrapper{
    padding: 15px;
}
.table-scrollable>.table-bordered>tbody>tr>td,
.table-scrollable>.table-bordered>thead>tr>th{
    color: #393939;
}
/* Event Box */

@media screen and (max-width: 480px) {
    .select2-container {
        margin-bottom: 10px!important;
        width: 100%!important;
    }
}