@import "partials/_Variables";
@import "partials/_filter";
@import "partials/_table";
@import "partials/_pagination";

/* === BUTTON === */
.btn-group{
	a,button{
		padding: 5px;
	}
}

.btn-group{
	a:first-child{
		margin-right: $ifm-margin-xs;
	}
}

/* === BUTTON MEDIA QUERY === */
@media only screen and (max-width: 800px){
	.btn-group{
		a, button{
			padding: 3px 4px;
		}
	}
}
@media only screen and (max-width: 767px){
	.zone-units{
		padding: 10px !important;
	}
}