/* === From 320px - 768px === */

@media screen and (min-width: 320px) and (max-width: 768px){
    .page-content-wrapper .page-content{
        padding: 10px!important;
        .timesheet-zone{
            padding: 10px!important;
            .title-bar{
                padding-bottom: 10px!important;
                .title{
                    font-weight: 500;
                }
                .add-btn{
                    top: 8px!important;
                    right: 27px!important;
                    padding: 4px 9px;
                    span{
                        display: none;
                    }
                }
            }
        }
        .timesheet-wrap{
            .timesheet-item{
                .col-sm-2{
                    padding-right: 15px!important;
                    text-align: left;
                }
                .timesheet-day{
                    padding: 0!important;
                    border: 0!important;
                    border-bottom: 1px solid $ifm-light-grey!important;
                    p{
                        display: inline-block;
                        color: #8a7e7e!important;
                        font-weight: 200!important;
                        font-size: 13px!important;
                    }
                }
            }
        }
    }
}

/* === From 320px - 991px === */
@media screen and (min-width: 320px) and (max-width: 991px) {
    .timesheet-show-m{
        .daterange-wrap{
            .input-large{
                width: 100%!important
            }
            margin-top: 5px;
            margin-bottom: 10px;
            .form-control{
                height: 25px;
            }
            .input-group-addon{
                padding: 0 5px;
            }
        }
        .owl-carousel.owl-theme{
            .owl-nav [class*=owl-]{
                background-color: #999;
                transition: all 0.4s ease-in-out;
                &:hover{
                    background-color: $ifm-main;
                }
            }
            .owl-dots .owl-dot span{
                background-color: #999;
            }
            .owl-dots .owl-dot.active span{
                background-color: $ifm-main;
            }
            .owl-dots .owl-dot.active span,
            .owl-dots .owl-dot:hover span{
                transition: all 0.4s ease-in-out;
            }
        }
        .timesheet-day{
            .task-row{
                margin-bottom: 10px;
                border-bottom: 1px solid $ifm-light-grey;
                &:last-child{
                    margin-bottom: 0;
                }
                div{
                    margin-bottom:5px;
                }
                font-size: 12px;
            }
        }
    }
}