/* === Glopal === */
.progressBar {
  padding: 50px 0 40px;
  /* === Issued === */
  /* === approved === */
  /* === assigned === */
  /* === re-assigned === */ }
  .progressBar li {
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;
    text-align: center; }
    .progressBar li:before {
      content: '';
      position: relative;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #DDD;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: #FFF;
      z-index: 1; }
    .progressBar li:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 8px;
      background-color: #DDD;
      top: 11px;
      left: -50%;
      z-index: 0; }
    .progressBar li:first-child:after {
      content: none; }
  .progressBar.issued li:nth-child(1) {
    color: #e7505a; }
    .progressBar.issued li:nth-child(1):before {
      border-color: #e7505a;
      background-color: #e7505a; }
    .progressBar.issued li:nth-child(1) + :after {
      background-color: #e7505a; }
  .progressBar.approved li:nth-child(1) {
    color: #e7505a; }
    .progressBar.approved li:nth-child(1):before {
      border-color: #e7505a;
      background-color: #e7505a; }
    .progressBar.approved li:nth-child(1) + :after {
      background-color: #e7505a; }
  .progressBar.approved li:nth-child(2) {
    color: #F7CA18; }
    .progressBar.approved li:nth-child(2):before {
      border-color: #F7CA18;
      background-color: #F7CA18; }
    .progressBar.approved li:nth-child(2) + :after {
      background-color: #F7CA18; }
  .progressBar.assigned li:nth-child(1) {
    color: #e7505a; }
    .progressBar.assigned li:nth-child(1):before {
      border-color: #e7505a;
      background-color: #e7505a; }
    .progressBar.assigned li:nth-child(1) + :after {
      background-color: #e7505a; }
  .progressBar.assigned li:nth-child(2),
  .progressBar.assigned li:nth-child(3) {
    color: #F7CA18; }
    .progressBar.assigned li:nth-child(2):before,
    .progressBar.assigned li:nth-child(3):before {
      border-color: #F7CA18;
      background-color: #F7CA18; }
    .progressBar.assigned li:nth-child(2) + :after,
    .progressBar.assigned li:nth-child(3) + :after {
      background-color: #F7CA18; }
  .progressBar.re-assigned li:nth-child(1) {
    color: #e7505a; }
    .progressBar.re-assigned li:nth-child(1):before {
      border-color: #e7505a;
      background-color: #e7505a; }
    .progressBar.re-assigned li:nth-child(1) + :after {
      background-color: #e7505a; }
  .progressBar.re-assigned li:nth-child(2),
  .progressBar.re-assigned li:nth-child(3),
  .progressBar.re-assigned li:nth-child(4) {
    color: #F7CA18; }
    .progressBar.re-assigned li:nth-child(2):before,
    .progressBar.re-assigned li:nth-child(3):before,
    .progressBar.re-assigned li:nth-child(4):before {
      border-color: #F7CA18;
      background-color: #F7CA18; }
    .progressBar.re-assigned li:nth-child(2) + :after,
    .progressBar.re-assigned li:nth-child(3) + :after,
    .progressBar.re-assigned li:nth-child(4) + :after {
      background-color: #F7CA18; }
  .progressBar.completed li:nth-child(1) {
    color: #e7505a; }
    .progressBar.completed li:nth-child(1):before {
      border-color: #e7505a;
      background-color: #e7505a; }
    .progressBar.completed li:nth-child(1) + :after {
      background-color: #e7505a; }
  .progressBar.completed li:nth-child(2),
  .progressBar.completed li:nth-child(3),
  .progressBar.completed li:nth-child(4) {
    color: #F7CA18; }
    .progressBar.completed li:nth-child(2):before,
    .progressBar.completed li:nth-child(3):before,
    .progressBar.completed li:nth-child(4):before {
      border-color: #F7CA18;
      background-color: #F7CA18; }
    .progressBar.completed li:nth-child(2) + :after,
    .progressBar.completed li:nth-child(3) + :after,
    .progressBar.completed li:nth-child(4) + :after {
      background-color: #F7CA18; }
  .progressBar.completed li:nth-child(5) {
    color: #4DB3A2; }
    .progressBar.completed li:nth-child(5):before {
      border-color: #4DB3A2;
      background-color: #4DB3A2; }
    .progressBar.completed li:nth-child(5) + :after {
      background-color: #4DB3A2; }

.issue-status .portlet.box.red {
  border-color: #C9C9C9; }
  .issue-status .portlet.box.red > .portlet-title {
    background-color: #C9C9C9; }
.issue-status .portlet.red {
  background-color: #C9C9C9; }
.issue-status .portlet > .portlet-body.red {
  background-color: #C9C9C9; }

.portlet.box > .portlet-title > .tools > a.collapse {
  background-image: url("../assets/global/img/portlet-collapse-icon.png"); }

.portlet.box > .portlet-title > .tools > a.expand {
  background-image: url("../assets/global/img/portlet-expand-icon.png"); }

/*# sourceMappingURL=show-issue-reset.css.map */
