@import "../../../partials/_Variables";

.taxonomy-tab{
	a{
		background-color: transparent;
	}
}

.nav-tabs{
	list-style: none;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
	>li{
		display: inline-block;
		float: none;
		width: 20%;
		&.active{
			border-bottom: 3px solid $ifm-main;
		}
	}
}

.tab-content{
	.item-label{
		color: #666;
		font-weight: 100;
	}
	.item-value{
		&.description{
			line-height: 1.7;
		}
	}
}

/* === Start Mobile And Tablet === */

@media screen and (min-width: 320px) and (max-width: 480px){
	.nav-tabs{
		>li{
			width: 60%;
			a{
				font-size: 12px;
				img{
					margin-bottom: 5px;
				}
			}
		}
	}
	.tab-content{
		.item-label{
			font-size: 12px;
		}
		.item-value{
			font-size: 12px;
			&.description{
				font-size: 12px;
			}
		}
	}
}

/* === End Mobile And Tablet === */


/* === Start Small Screens === */

@media screen and (min-width: 481px) and (max-width: 768px){
	.nav-tabs{
		>li{
			width: 40%;
			a{
				font-size: 14px;
				img{
					margin-bottom: 5px;
				}
			}
		}
	}
}

/* === End Small Screens === */


/* === Start Medium Screens === */

@media screen and (min-width: 769px) and (max-width: 992px){
	.nav-tabs{
		>li{
			width: 30%;
			a{
				img{
					margin-bottom: 5px;
				}
			}
		}
	}
}

/* === End Medium Screens === */


/* === Start Large Screens === */

@media screen and (min-width: 993px) and (max-width: 1200px){

}

/* === End Large Screens === */
