// COLORS
$ifm-main: #31C7B2;
$ifm-grey: #566366;
$ifm-light-grey: #C9C9C9;
$ifm-lighter-grey: #EEF1F5;
$ifm-white: #FFFFFF;
$ifm-yellow: #F7CA18;

// MARGINS
$ifm-margin-xs: 3px;
$ifm-margin-5: 5px;
$ifm-margin-sm: 10px;
$ifm-margin-15: 15px;
$ifm-margin-md: 20px;
$ifm-margin-lg: 30px;

// PADDINGS
$ifm-padding-xs: 3px;
$ifm-padding-sm: 10px;
$ifm-padding-15: 15px;
$ifm-padding-md: 20px;
$ifm-padding-lg: 30px;

// SCREEN SIZES

// Mobile Phones
$screen-xxs: 320px;
// Extra small screen / phone
$screen-xs: 480px;
// Small screen / tablet
$screen-sm: 768px;
// Medium screen / desktop
$screen-md: 992px;
// Large screen / wide desktop
$screen-lg: 1200px;